build

.vscode
.env
.venv

**/tmp
**/cpp_src
**/mlir_src
**/hls_proj
**/dump_csv
**/.ipynb_checkpoints
**/__pycache__

*.onnx*
*.tmp
*.gv
*.png
*.log
*.csv
*.zip

.codex
conductor/
local-docs/

tools/__pycache__/
py-designs-ml/artifacts/
py-designs-ml/layers/artifacts/
test/Validation/
py-designs-ml/
c-designs-ml/archive/
